package views

templ SplitLayout(leftContent, rightContent templ.Component) {
	<div id="split-layout" class="grid grid-cols-[24rem_1fr] flex-1 min-h-0">
		<div class="bg-sidebar-bg border-r border-header-border overflow-hidden flex flex-col">
			<div class="overflow-y-auto">
				@leftContent
			</div>
		</div>
		<div class="overflow-y-auto">
		    @rightContent
        </div>
	</div>
}
